@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

@keyframes slide-in {
  0% {
    -webkit-transform: translateX(120%);
    transform: translateX(120%);
  }

  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

.glassmorphism {
  background: rgb(0, 9, 36, 0.7);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

#nav-mobile {
  animation: slide-in 0.5s ease-out;
}

.password-container {
  width: 100%;
  position: relative;
}

.password-icon {
  position: absolute;
  right: 0;
  z-index: 1;
  margin-right: 10px;
  margin-top: 3px;
  cursor: pointer;
}

.outer-min-height {
  min-height: calc(95vh - 100px);
}

.shadow {
  box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
}
