@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

@keyframes slide-in {
  0% {
    -webkit-transform: translateX(120%);
    transform: translateX(120%);
  }

  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

.blue-glassmorphism {
  background: rgb(39, 51, 89, 0.7);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.black-glassmorphism {
  background: rgb(220, 215, 208, 0.7);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

#nav-mobile {
  animation: slide-in 0.5s ease-out;
}

.password-container {
  width: 100%;
  position: relative;
}

.password-icon {
  position: absolute;
  right: 0;
  z-index: 1;
  margin-right: 10px;
  margin-top: 3px;
  cursor: pointer;
}
